html{
	height:100%;
	min-width:800px;
}

body{
	background-color: #6B5E50;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 28px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height:100%;
	min-width:800px;
}
.header{
	height:50px;
	background: #222222;
	color: red;
	text-align: center;
	font-size: 180%;
	line-height: 2em;
	box-shadow:0px 2px rgba(0,0,0,1);
}

.content{
	border: 1px solid #fbfbfb;
	background-color: #fff;
	max-width: 840px;
	width: 96%;
	height:80%;
	padding: 2%;
	margin: 30px  auto;
	overflow:scroll;
}

#end_page_spacing{
	width:100%;
	height:170px;
}

.footer{
    position:fixed;
    padding-bottom:-10px;
    bottom:0px;
    width: 100%;
}

a{
	text-decoration:none;
	color:#291A0B;
}


/*SIDEBAR CSS*/

.sidebar{
	background-color:grey;
	width: 100%;
	height: 30px;
	text-align:center;
}

.sidebar_item{
	display:inline-block;
	width:200px;
	font-size:140%;
	text-align:center;
}

/*CONTENT CSS*/

.page_title{
	text-align:center;
	border-bottom:1px solid black;
	text-transform:uppercase;
}

.log_entry{
	font-size:90%;
	margin-left:5px;
}

.log_entry h2{
	margin-bottom:-2px;
}

.tabbed{
	margin-left:20px;
}

#content_sidebar{
	display:inline-block;
	width:20%;
	float:left;
}

.vert_divider{
	height:90%;
	float:left;
	border:1px solid black;
	margin-left:0px 20px 0px 10px;
}

.horiz_divider{
	width:90%;
	margin:auto;
	border-bottom:1px solid black;	
}

/*CARD CSS*/

#cards{
	margin:auto;
	width:80%;
}

#card_bin{
	width:90%;
	overflow:hidden;
	display:inline-block;
	margin-bottom:-10px;
}

#card_background{
	position:relative;
	top:200px;
	z-index:1;
	height: 50px;
	background-color: #444444;
}

.card_button{
	display:inline-block;
	background:red;
	margin-bottom:40px;
	width:35px;
	height:100px;
}

#card_slots{
	position:relative;
	width:2000px;
	left:0px;
}

.card_slot{
	display:inline-block;
	width:200px;
}

.card{
	position:relative;
	top:5px;
	width:150px;
	margin:auto;
	height:200px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:#6E6754;
	color:black;
	z-index:2;
}

.card_image{
	position:absolute;
	width:95%;
	height:96%;
	background-image:url("http://upload.wikimedia.org/wikipedia/commons/1/17/Fist.png");
	background-size:100% 100%;
	margin:2.5%;
	opacity:0.5;
	border-radius:5px 5px 0px 0px;
	z-index:2;
}

.card_inner{
	position:relative;
	z-index:3;
	height:100%;
}

.card_slot a{
	text-decoration:none;
}

.card_title{
	padding:6% 6% 3% 6%;
}

.card_level{
	border-radius:20px;
	width:20%;
	height:20%;
	float:right;
	text-align:center;
	color:white;
	font-size:130%;
	background-color:#555555;
}

.card_title h2{
	background-color:#999999;
	border:1px solid black;
	display:inline-block;
	text-align:center;
	width:65%;
	margin:0px;
}

.card_description{
	margin:50% 7.5% 2% 7.5%;
	height:15%;
	line-height:1em;
	font-size:60%;
	word-wrap:break-word;
}

.card_socket_bin{
	text-align:center;
	margin:10px auto 10px;
	width:75%;
	height:12.5%;
}

.card_socket{
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	width:20%;
	height:85%;
	border-radius:40px;
	background-color:#555555;
}

#inventory{
	position:fixed;
	bottom:0px;
	right:0px;
	background-color:darkgrey;
	width:100px;
	height:100px;
	border-top-left-radius: 20px;
}

#deck{
	height:50px;
}

#money{
	border:1px solid black;
	padding:10px;
}

/*CARD MODAL */

#card_modal{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	z-index:3
}

#modal_background{
	background:rgba(100,100,100,0.8);
	height:100%;
}

.zoomed_card{
	position:relative;
	margin:auto;
	top:15%;
	height:500px;
	width:350px;
	border-radius:30px;
	background-color:#6E6754;
	color:black;
	font-size:180%;
	line-height:2em;
}

.modal_image{
	border-radius:20px;
}

.zoomed_card a{
	text-decoration:none;
	color:white;
}

#modal_buttons{
	margin:auto;
	width:82.5%;
}

#modal_buttons div{
	display:inline-block;
	width:110px;
	height:30px;
	border:1px solid black;
	background: blue;
	text-align: center;
	padding:10px;
	color:white;
	cursor:pointer;
	line-height:1.2em;
}

#modal_play_card{
	height:30px;
	margin-left:10px;
	float:right;
}