<!DOCTYPE html>
<html>
	<head>
		<script src="{{STATIC_URL}}jquery.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}foolBase.js" type="text/javascript"></script>
		
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
		<meta charset="utf-8">
		<title>
			The Fool | {% block title %}{% endblock %}
		</title>
		</head>
		<script type='text/javascript'>
			$(document).ready(function () {
				start();
			});
		</script>
	<body>
		<div class="header">
			The Fool
		</div>
		<div class="sidebar">
			<div class="sidebar_item" id="sidebar_home">
				<a href="{% url 'Home' %}">Home</a>
			</div>
			<div class="sidebar_item" id="sidebar_map">
				<a href="{% url 'Subway' %}">Map</a>
			</div>
			<div class="sidebar_item" id="sidebar_journal">
				<a href="{% url 'Journal' %}">Journal</a>
			</div>
			<div class="sidebar_item" id="sidebar_user_preferences">
				<a href="{% url 'User_Preferences' %}">User Preferences</a>
			</div>
		</div>
		
			{% block content %}
			{% endblock %}
		
		<div id="end_page_spacing"></div>
		<div class="footer">
			<div id="cards">
			<div class="card_button" value="back"></div>
			<div id="card_bin">
				<div id="card_background"></div>
				
				<div id="card_slots">
				{% for card in hand %}
				
				<div class="card_slot">
						<div class="card" id="card-{{card.id}}">
							<div class="card_image"></div>
							<div class="card_inner">
								<div class="card_title">
									<h2>
										{{card.template.name}}
										
									</h2>
									<div class="card_level">
										{{card.modifier}}
									</div>
								</div>
								<p class="card_description">
									BOOOOOBs booobobobobobobobobbooboboboboboboboboboboboobobobobobbooboobo
								</p>
								<div class="card_socket_bin">
									<div class="card_socket">
									</div>
									<div class="card_socket">
									</div>
									<div class="card_socket">
									</div>
								</div>
							<div class='play_card' style="display:none">
								<a href='{{card.get_absolute_url}}?from={{request.path}}'>Play Card</a>
							</div>
							</div>
						</div>
				</div>	
			{% endfor %}
			</div>
			
			</div>
			<div class="card_button" value="next"></div>
			</div>
			<div id="inventory">
				<div id="deck">
					{% if numcardsindeck > 0 %}
						<h2>
							<a href="/draw?from={{request.path}}">Deck ({{numcardsindeck}})</a>
						</h2>
					{% else %}
						<h2>
							Deck ({{numcardsindeck}})
						</h2>
					{% endif %}
				</div>
				<div id="money">
					<div>
						{{user.player.money}} $
					</div>
				</div>
			</div>
			
		</div>
		<div id="card_modal">
			<div id="modal_background">
					<div class="zoomed_card">
						<div class="card_image modal_image"></div>
						<div class="card_inner">
							<div class="card_title">
								<h2></h2>
								<div class="card_level"></div>
							</div>
							<p class="card_description">
								BOOOOOBs booobobobobobobobobbooboboboboboboboboboboboobobobobobbooboobo
							</p>
							<div class="card_socket_bin">
								<div class="card_socket">
								</div>
								<div class="card_socket">
								</div>
								<div class="card_socket">
							</div>
							</div>
							<div id="modal_buttons">
								<div id="modal_cancel">Cancel</div>
								<div id="modal_play_card"></div>
						</div>
						</div>
					</div>
				
			</div>
		</div>
	</body>
</html>
