<!DOCTYPE html>
<html>
	<head>
		<script src="{{STATIC_URL}}jquery.min.js" type="text/javascript"></script>
		
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
		<meta charset="utf-8">
		<title>
			The Fool | {% block title %}{% endblock %}
		</title>
		</head>
	<body>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="footer">
			<div id="card_bin">
				<div id="card_background"></div>
			{% for card in hand %}
				
				<div class="card_slot">
					<a href="{{card.get_absolute_url}}?from={{request.path}}">
						<div class="card">
							<div class="card_image"></div>
							<div class="card_inner">
								<div class="card_title">
									<h2>
										{{card.template.name}}
										
									</h2>
									<div class="card_level">
										{{card.modifier}}
									</div>
								</div>
								<p class="card_description">
									BOOOOOBs booobobobobobobobobbooboboboboboboboboboboboobobobobobbooboobo
								</p>
								<div class="card_socket_bin">
									<div class="card_socket">
									</div>
									<div class="card_socket">
									</div>
									<div class="card_socket">
								</div>
							</div>
							</div>
						</div>
					</a>
				</div>	
			{% endfor %}
			</div>
			<div id="inventory">
				<div id="deck">
					{% if numcardsindeck > 0 %}
						<h2>
							<a href="/draw?from={{request.path}}">Deck</a>
						</h2>
					{% endif %}
				</div>
				<div id="money">
					<div>
						{{user.player.money}} $
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>