<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		</head>
	<body>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="footer">
		{% for card in hand %}
		<h2>
			<a href="{{card.get_absolute_url}}?from={{request.path}}">{{card.template.name}} {{card.modifier}}</a>
		</h2>
		{% endfor %}
		{% if numcardsindeck > 0 %}
		<h2>
			<a href="/draw?from={{request.path}}">Deck</a>
		</h2>
		{% endif %}
		<h2>
			Money: {{user.player.money}}
		</h2>
		</div>
	</body>
</html>