{% extends 'base.html' %}
 
{% block title %}{{location.title}}{% endblock %}
 
{% block content %}
<article>
	<header>
		<h2>
			<a href="draw/">Deck</a>
		</h2>
		{% for card in in_play %}
		<h2>
			{{card.template.name}} {{card.modifier}}
		</h2>
		{% endfor %}
		{% if userprofile.active_location == location %}
		<h2>
			{{userprofile.active_event.title}}
		</h2>
		{{userprofile.active_event.content}}
		{% else %}
		No active scenario here. Go to {{userprofile.active_location}}.
		{% endif %}
		<h1> {{location.title}} </h1>
		<p>
			Posted on
			<time datetime="{{location.created|date:"c"}}">
			{{location.created|date}}
			</time>
		</p>
		{% if location.canshuffle %}
		<h2><a href="/shuffle?from={{request.path}}">Shuffle</a></h2>
		{% endif %}
	</header>
	<p class="description">
		{{location.description}}
	</p>
	{% for log in logs %}
	<div class="logentry">
		<h2>
			{{log.title}}
		</h2>
		<p>{{log.event.content}}</p>
		<p>{{log.result.message}}</p>
		<p>
			Logged on
			<time datetime="{{log.logged|date:"c"}}">
			{{location.created|date}}
			</time>
		</p>
	</div>
	{% endfor %}
</article>
{% endblock %}
